<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="text-left">
          <h2 class="big-text">Unlock Your <br />Web Design Skills.</h2>
          <h2 class="big-text Heading">Handy <span>Code</span></h2>
          <p class="small-text">
            Elevate Your Web Design Skills with HandyCode:Where<br />Creativity
            Meets Code
          </p>
          <div class="buttons">
            <button class="btn btn-primary">Get Started</button>
            <p>How it Works</p>
            <div class="play-button">
              <img
                class="playButton-image"
                src="../../assets/images/icons8-play-48.png"
                alt="Play Button"
              />
            </div>
          </div>
          <div class="trusted">
            <p class="trusted-text">
              Trusted by <span class="ten">10+</span> companies
            </p>
            <div class="trusted-logo">
              <img
                class="tesla-logo"
                src="../../assets/images/tesla-logo-png-2225.png"
                alt="Trusted Logo"
              />
              <img
                class="spotify-logo"
                src="../../assets/images/spotify-logo-png-7053.png"
                alt="Trusted Logo"
              />
              <img
                class="discord-logo"
                src="../../assets/images/discord-logo-png-7617.png"
                alt="Trusted Logo"
              />
              <img
                class="telegram-logo"
                src="../../assets/images/telegram-logo-945.png"
                alt="Trusted Logo"
              />
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-lg-6">
        <div
          class="image-container flex justify-content-center align-items-center"
        >
          <img
            src="../../assets/images/header_woman.png"
            alt="Header Image"
            name="header-image"
          />
          <div class="card card-1">
            <div class="circle"></div>
            <h4>5K+</h4>
            <p>Online Courses</p>
          </div>
          <div class="card card-2">
            <div class="message-logo"></div>
            <p><span>Congrats!</span></p>
            <p>Your Admission completed</p>
          </div>
          <div class="card card-3">
            <div class="tutors-logo"></div>
            <p>Tutors</p>
            <h4>250+</h4>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
