<!-- <div class="center-content">
  <h1>Contact us</h1>
  <p>
    blorem blipsum dolor minim mollit non deserunt ullamco non <br />
    <span>minim lorem ipsum bolor aquasit amat est</span>
  </p>
  <button class="btn btn-primary">Live Chat</button>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <fa-icon [icon]="email" class="icon"></fa-icon>
          <h5 class="card-title">Email</h5>
          <p class="card-text">support@gulaly.com</p>
          <button class="btn btn-primary">CONTACT</button> *extra information
          (optional)
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <fa-icon [icon]="phone" class="icon"></fa-icon>
          <h5 class="card-title">Phone</h5>
          <p class="card-text">+1 123-456-7890</p>
          <button class="btn btn-primary">CALL</button> *extra information
          (optional)
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <fa-icon [icon]="location" class="icon"></fa-icon>
          <h5 class="card-title">Office</h5>
          <p class="card-text">123 Main Street, City, Country</p>
          <button class="btn btn-primary">LOCATION</button> *extra information
          (optional)
        </div>
      </div>
    </div>
  </div>
</div> -->
