<nav class="navbar navbar-expand-lg navbar-light" >
  <a class="navbar-brand" href="#">
    <img
      src="../../assets/images/logo.png"
      alt="Logo"
    />
  </a>
  <div
    class="collapse navbar-collapse"
    id="navbarNav"
    [ngClass]="{ 'show': isNavbarVisible }"
  >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="homeDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Home
        </a>
        <div
          class="dropdown-menu"
          aria-labelledby="homeDropdown"
        >
          <a class="dropdown-item" href="#">Submenu 1</a>
          <a class="dropdown-item" href="#">Submenu 2</a>
          <a class="dropdown-item" href="#">Submenu 3</a>
        </div>
      </li>
      <li class="nav-item">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="coursesDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Courses
        </a>
        <div
          class="dropdown-menu"
          aria-labelledby="coursesDropdown"
        >
          <a class="dropdown-item" href="#">menu 1</a>
          <a class="dropdown-item" href="#">menu 2</a>
          <a class="dropdown-item" href="#">menu 3</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Placement</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Project</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Resource</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
      </li>
    </ul>
  </div>
  <div class="ml-auto">
    <button class="btn sign-in">Sign In</button>
    <button class="btn get-started">Get Started</button>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="toggleNavbar()"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
