<div class="container">
  <div class="row">
    <div class="col-lg-7">
      <div class="left-content">
        <h1>
          Join our <span class="blue-text">world's largest</span><br />learning
          platform today.
        </h1>
        <p>Start learning by registration and get 30 days free trial</p>
      </div>
    </div>
    <div class="col-lg-5">
      <div class="right-content">
        <div class="d-grid gap-2">
          <button class="btn btn-primary" type="button">
            Join as Instructor
          </button>
          <button class="btn btn-secondary" type="button">
            Join as Student
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
